@model IEnumerable<HospiEnCasa02Entity.Entity.PacienteEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class=" btn btn-primary" type ="button"> crear nueva</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCasaPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFamiliarDesignado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEnfermera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSignosVitales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCasaPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFamiliarDesignado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEnfermera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSignosVitales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersona)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
