@model IEnumerable<HospiEnCasa02Entity.Entity.SignosVitaleEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateSignosVitales">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oximetria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresionArterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Glicemias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oximetria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaRespiratoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrecuenciaCardiaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresionArterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glicemias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaciente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
